/* CORPO */

body {
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
}

h1, h2, h3 {
    font-family: Asap, sans-serif;
    color: #000000;
}

.botao {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #20B2AA;
    font-size: .9em;
    border-radius: 3px;
    margin: 0 15px;
    
}

/* Navegação */

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #008B8B;
}

nav > a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32px;
    font-family: Yellowtail, serif;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}

/*Cabeçalho*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../COD2.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

header h1 {
    color: #FFFFFF;
}

header p {
    margin-bottom: 2em;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #008B8B;
    color: #FFFFFF;
}

#sobre h2 {
    color: #FFFFFF;
}

#sobre p {
    margin-bottom: 2.5em;
    max-width: 100
}

#sobre .botao {
    background-color: #F1F1F1;
    color: #1c1c1c;
}

/*Serviços*/

#serviços {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#serviços div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

/*Fotos*/

#fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#fotos h2 {
    margin-bottom: 20px;
}

#fotos img {
    width: 100%
    filter: drop-shadow(8px 8px 10px #CD853F);
}

/*Contato*/

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#contato h2 {
    color: #000000;
}

/*rodapé*/

footer {
    text-align: center;
    padding: 10px;
    background-color: #008B8B;
    color: #FFFFFF;
}

footer a{
    text-decoration: none;
    color: #00FFFF;
} 

@media screen and (min-width: 768px) {

    /*nav*/

    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: row;
        width: 70%;
    }

    /*Cabeçalho*/

    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }

    /*Sobre*/

    #sobre {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }

    /*Serviços*/

    #serviços {
       flex-direction: row;
       flex-wrap: wrap;
       align-items: flex-start;
       max-width: 1000px;
       margin: 0 auto; 
    }

    #serviços h2 {
        text-align: center;
        width: 100%;
    }

    #serviços div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }

    /*Fotos*/

    #fotos {
       flex-direction: row;
       flex-wrap: wrap;
    }

    #fotos h2 {
        width: 100%;
        text-align: center;
    }

    #fotos img {
        width: 33.3333333%;
    }

    /*Contato*/

    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }

    #contato h2, #contato p {
        width: 100%;
    }



    #grad1 {
        height: 200px;
        background: repeating-lineargradient(10deg,#F0E68C,#CD853F,#D2B48C)
        }
        img {
        border-radius: 50%;
        height: 30vh;
        display: block;
        margin: auto;
        }
        .imagens {
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        justify-content: center;
        }
        .imagens img{
        height: 150px;
        border-radius: 50%;
        }
        body {
        margin: 0;
        }
        div{
        width: 100vw;
        background-color: #DEB887;
        }
        .shadow {
        filter: drop-shadow(8px 8px 10px #CD853F);
        }
        .saturate {
        filter: saturate(7);
        }
        .blur {
        filter: blur(4px);
        }
        .conteudo {
        column-count: 3;
        column-gap: 200px;
        column-rule: 3px solid #CD853F;
        }
}